<ion-view view-title="議題" cache-view="false">
  <ion-content class="padding">
    <div class="list card">

    <div class="item item-icon-left">
      <i class="icon ion-ios-pulse"></i>
      <h2>{{issue.title || '議題名稱'}}</h2>
    </div>

    <div class="item">
      {{issue.description || '議題內容'}}
    </div>
    <div class="item item-button-right">
      有 {{issue.vote_count || 1}} 個人支持這個議題
      <button class="button" 
        ng-click="voteUp($event, issue.id)" 
        ng-class="{true: 'button-positive'}[issueVoted]">
        支持
        <i class="icon ion-thumbsup"></i>
      </button>
    </div>
    
    <div class="item item-divider" ng-show="issue.reps.length > 0">
      支持此議題的民意代表
    </div>

    <div class="padding" ng-show="issue.reps.length > 0">
      <ion-item class="item item-avatar"
        ng-repeat="rep in issue.reps" 
        ui-sref="tab.representitive({userId: rep.id})">
        <img ng-src="{{rep.picture}}" alt="">
        <b>{{rep.name}}</b>
        共同 {{rep.same_issues.length || 0}} 個議題
      </ion-item>
    </div>
    
  </div>
  </ion-content>
</ion-view>